html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: arial;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
::selection {
	color: #fff;
	background-color: #121212;
}
/* Classes that't repeat more than one's*/
.heading-h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}
.paragraph {
	font-size: 18px;
	font-weight: normal;
	color: #515151;
	line-height: 27px;
	text-align: center;
}
.icon {
	color: #fff;
  background-color: #d32f2f;
  width: 64px;
  height: 64px;
  font-size: 22px;
  line-height: 43px;
  border-radius: 50%;
  padding: 10px;
	text-align: center;
	margin: 0 5px;	
	box-shadow: 1px 1px 2px #000;
	transition: .5s;
}
.icon-hover:hover {
	color: #d32f2f;
  background-color: #fff;
}
/*/////////////// Header Block //////////////*/
.logo {
	height: 85px;
}
.logo img {
	width: 142px;
	height: 44px;
	margin-top: 20px;
}
.list-inline {
	text-align: right;
	transform: translateY(-30px);
}
.list-inline li {
	margin: 0 10px;
}
.list-inline li a {
	font-size: 14px;
	color: #666E7D;
	text-transform: uppercase;
	text-decoration: none;
	box-sizing: border-box;
}
.list-inline li a:hover {
	border-bottom: 3px solid #d32f2f;
	padding-bottom: 29px;
	color: #000;
}
.list-inline li:first-child a {
	color: #000;
	border-bottom: 3px solid #d32f2f;
	padding-bottom: 29px;
	font-weight: bold;
}
.list-inline li:last-child a {
	background-color: #d32f2f;
	color: #fff;
	padding: 15px 25px;
	font-weight: bold;
	transition: 1s;
}
.list-inline li:last-child a:hover {
	background-color: darkred;
	color: #fff;
	font-weight: bold;
	border: 0;
	box-shadow: 1px 1px 1px #000;
}
.banner {
	background: url(../img/banner.jpg) no-repeat;
	width: 100%;
	height: 577px;
	background-attachment: fixed;
	background-position: 50% 45%;
}
.main-heading {
	transform: translateY(50%);
}
.title h1 {
	color: #fff;
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 30px;
	width: 500px;
	line-height: 1.2em;
}
.title p:before {
	content: "";
	display: block;
	background-color: #fff;
	width: 40px;
	height: 4px;
	margin-bottom: 30px;
}
.title p {
	color: #fff;
	font-size: 25px;
	margin-bottom: 40px;
}
.btn-brand img {
	height: 55px;
	width: 170px;
	margin: 0 5px;
}
.double-phone img:last-child {
	position: relative;
}
.double-phone img:first-child {
  position: absolute;
}
/*/////////////// Header Block  End's Here //////////////*/
/*/////////////// Second Block  Benefit's //////////////*/
.presentation {
	column-count: 3;
	padding: 40px;
	margin: 20px;
}
.presentation .row {
	max-width: 750px;
	margin: 40px 0;
}
.presentation h2 {
	font-size: 28px;
	font-weight: bold;
	color: #000;
}
.presentation p {
	color: #515151;
	line-height: 17px;
}
.presentation i {
  color: #fff;
  background-color: #d32f2f;
  width: 64px;
  height: 64px;
  font-size: 22px;
  line-height: 43px;
  border-radius: 50%;
  padding: 10px;
	text-align: center;
	box-shadow: 1px 1px 2px #000;
	transition: .5s;
	float: left;
	margin: 0 10px;	
}
.presentation i:hover{
	color: #d32f2f;
  background-color: #fff;
}
.presentation a {
	text-decoration: none;
	color: #000;
	transition: .5s;
	font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}
.presentation a:hover {
	color: #d32f2f;
}
.line-separator {
  width: 40px;
  height: 3px;
  display: block;
  margin: 20px 0 10px;
  background-color: #121212;
	border-radius: 
}
/*/////////////// Second Block End's here //////////////*/
/*/////////////// Block About How to use it //////////////*/
.how-it-works {
	background-color: #f7f7f7;
	padding: 100px 0 90px;
}
.how-it-works a {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
  text-decoration: none;
	transition: .5s;
	margin-bottom: 15px;
	display: block;
}
.how-it-works a:hover {
	color: #d32f2f;
}
.how-it-works h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  text-align: center;
}
.how-it-works p {
	font-size: 16px;
	font-weight: normal;
	color: #515151;
	line-height: 27px;
}
.how-it-works img {
	width: 360px;
	height: 202px;
	margin-bottom: 20px;
	margin-top: 10px;
}
p.sub-title  {
	font-size: 18px;
	color: #515151;
	text-align: center;
	max-width: 700px;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
}
.how-it-works .line-separator {
	margin: 25px auto;
}
/*/////////////// Block About How to use it end's here //////////////*/
/*/////////// Section with Swipe//////////*/
.swipe .col-md-4 {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}













.swipe .line-separator {
	width: 40px;
  height: 3px;
  display: block;
  margin: 20px auto 50px; 
  background-color: #121212;
}
.swipe p:not(.paragraph) {
	font-size: 16px;
	font-weight: normal;
	color: #515151;
	line-height: 27px;
	max-width: 250px;
}
.swipe a {
	font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
  text-decoration: none;
	transition: .5s;
}
.swipe a:hover {
	color: #d32f2f;
}
.phone-frame img {
	width: 290px;
}



/*////////////// Subscribe //////////*/
.subscribe {
	background: url(../img/table-restaurant-dark.jpg);
	height: 360px;
	background-position: 30% 40%;
	background-attachment: fixed;
	margin-top: 100px;
}
.subscribe .row {
	transform: translateY(130px);
}
.subscribe .row:last-child {
	transform: translateY(180px);
	margin: 0 auto;
	max-width: 700px;
}
.subscribe .line-separator {
	background-color: #fff;
	margin: 0 auto;
}
.subscribe h2 {
	color: #fff;
	font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.subscribe  [type="email"] {
  border: 0;
  height: 44px;
  font-size: 16px;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #555;
  transition: .5s;
}
.subscribe  [type="email"]::placeholder {
	color: #fff;
}
.subscribe  [type="email"]:focus {
  border-bottom: 1px solid #d32f2f;
  background-color: transparent;
}
.subscribe button {
	color: #fff;
  background-color: #d32f2f;
  border: 0;
  padding: 10px 30px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  width: 230px;
  height: 45px;
  transition: 1s;
}
.subscribe button:hover {
	background-color: #AA0000;
}
/*////////// pastabilities restaurant////////////*/
.benefits {
	padding-top: 100px;
	background-color: #f7f7f7;
}
.benefits .heading-h2 {
	text-align: left;
}
.benefits .paragraph {
	text-align: left;
	font-size: 16px;
	max-width: 750px;
	color: #515151;
}
.benefits .col-md-6 {
	width: 400px;
}
.benefits a {
	font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
  text-decoration: none;
  transition: .5s;
  display: block;
  margin: 15px 0;
}
.benefits a:hover {
	color: #d32f2f; 
}
.benefits p:not(.paragraph) {
	font-size: 16px;
	color: #515151;
	width: 360px;
	line-height: 1.5;
}
.benefits i {
	margin-top: 15px;
}
/*//////////// feedback ///////////*/
.stay-in-touch {
	margin-top: 100px;
}
.stay-in-touch input::placeholder {
	color: #515151;
	font-size: 16px;
}
.stay-in-touch  [type="text"] {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #9e9e9e;
  transition: .5s;
}
.stay-in-touch  [type="text"]:focus {
  border-bottom: 2px solid #d32f2f;
  background-color: transparent;
}
.stay-in-touch input {
	background-color: transparent;
}
.stay-in-touch .line-separator {
	margin-top: 15px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}
.stay-in-touch .feedback {
	margin: 30px 0;
}
.box {
	width: 300px;
	height: 76px;
	border-radius: 4px;
	border: 1px solid #9e9e9e;
	display: flex;
	align-items: center;
	padding: 20px;
	margin-bottom: 40px;
}
.box img {
	width: 70px;
	height: 74px;
	display: block;
	transform: translateX(80px);
}
.box input[type="checkbox"] {
  margin-right: 10px;
}
.stay-in-touch button {
	width: 145px;
	height: 44px;
	background-color: #d32f2f;
	border: 0;
	color: #fff;
	font-weight: bold;
	margin: 0 auto;
	font-size: 14px;
	box-sizing: border-box;
}
.stay-in-touch button:hover {
	box-shadow: 1px 2px 1px #515151;
}
.send {
	margin: 30px 0 65px;
}
/*///////// social icons //////////////*/
.social {
	background: url(../img/social-001.jpg) no-repeat;
	background-position: 20% 30%;
	background-attachment: fixed;
	height: 130px;
	margin-bottom: 50px;
}
.social li {
	display: inline-block;
	margin: 40px auto;
	transform: translateX(420px);
}
.social li i {
	background-color: transparent;
	box-shadow: none;
	font-size: 18px;
	height: 50px;
	width: 50px;
	line-height: 30px;
}
.social li i:hover {
	background-color: #d32f2f;
	color: #fff;
}
.about-company {
	margin: 40px 0;
}
.about-company li {
	margin: 0 auto;
}
.about-company a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
	transition: 1s;
	margin: 0 10px;
}
.about-company a:hover {
	color: #d32f2f;
}
footer p {
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid 
	padding: 30px 0;
	font-size: 16px;
	border-top: 1px solid #AFB1C9;
	padding: 25px 0;
}
footer a {
	text-decoration: none;
	color: #d32f2f;
	transition: .5s;
}
footer a:hover {
	color: #515151;
	text-decoration: none;
}

























































#C2C1C0;
#d32f2f;
/*.swipe .col-md-4 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.swipe .col-md-4:first-child {
	margin-top: 60px;
}
.swipe .col-md-4:last-child {
	margin-top: 60px;
}
.swipe .col-md-4:first-child p  {
	text-align: right;
	max-width: 280px;
}
.swipe .col-md-4:first-child h4 {
	text-align: right;
}
.swipe .col-md-4:last-child p {
	text-align: left;
	max-width: 280px;
}
.fa-th,.fa-book, .fa-diamond {
	position: relative;
	left: 290px;
	bottom: 110px;
}*/